.details{
    text-align: center;
}

.head{
    display: inline-block;
    background-color: #171717dc;
    color: white;
    margin: 0.2em;
    padding: 0 1em;
}

.card {
    background-color: #171717dc;
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
}

.image {
    padding: 0.5em;
    margin: 0 auto;
    width: 100%; 
    height: 40vh; 
    border-radius: 2%;
}

.text{
    color: white;
    font-size: 1.1em;
    align-items:flex-start;
}

.title{
    color:white;
    min-height: 2.4em;
    margin: 0 auto;
    font-size: 2em;
}

.btns{
    margin-right: 1.5em;
}

/* form */

.form{
    margin:0 auto;
    max-width: 50%;
    color:white;
    background-color: #171717dc;
    margin-top: 0.5em;
    padding: 0.3em;
    margin-bottom: 1em;
}

.headComment{
    font-size: 1.2em;
}

.add{
    max-width: 90%;
    margin: 0 auto;
    padding: 0.1em 0.6em;
}

.btn{
    margin: 0.3em 0;
    padding: 0 0.4em;
}


/* comments */
.commentSection{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
}
.heading{
    color: white;
    margin-left: 0.5em;
}


