.details{
    text-align: center;
}

.head{
    display: inline-block;
    background-color: #171717dc;
    color: white;
    margin: 0.2em;
    padding: 0 1em;
}

.card {
    background-color: #171717dc;
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;

}

.image {
    padding: 0.5em;
    margin: 0 auto;
    width: 100%; 
    height: 40vh; 
    border-radius: 2%;
}

.text{
    color: white;
    font-size: 1.1em;
    align-items:flex-start;
}

.title{
    color:white;
    min-height: 2.4em;
    margin: 0 auto;
    font-size: 2em;
}

.btns{
    margin-right: 1.5em;
}

/* form */

.form{
    margin:0 auto;
    max-width: 40%;
    color:white;
    background-color: #171717dc;
    margin-top: 0.5em;
    padding: 0.5em;
    margin-bottom: 1em;

}

.headComment{
    font-size: 1.2em;
}

.add{
    max-width: 90%;
    margin: 0 auto;
    padding: 0.1em 0.6em;
}

.btn{
    margin: 1em 0 0.5em 0;
    padding: 0 0.4em;
}


/* comments */
.commentSection{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 0.5em;

}
.heading{
    color: white;
    margin-left: 0.5em;
}

.commentList{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.commentList>*{
    background-color:#171717dc;
    list-style-type: none;
    padding: 0.3em 0 0 1.5em;
    flex: 1 1 48%;
    /* max-height: 2.5em; */
    max-width: 48%;
    border-radius: 4em;
    color: white;
    border:1px solid white;
    overflow: hidden;

}


