.card {
    background-color: #171717dc;
    /* flex: 1 1 12vw; */
}

.image {
    margin: 0 auto;
    object-fit: cover;
    width: 70%; 
    height: 16vh; 
    border-radius: 2%;
}

.text{
    font-size: 0.9em;
    color: rgb(162, 162, 162);
    margin: 0.5em 0 0 0;
}

.textType{
    font-size: 0.9em;
    color: rgb(162, 162, 162);
    margin: -0.3em 0;
}

.title{
    color:white;
    font-size: 0.9em;
    min-height: 2.4em;
    max-width: 20ch;
    margin: 0 auto;
    margin-bottom: -0.5em;
}
