#root{
    /* background-image: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.7)),url(./assets/backgroundImg.jpeg); */
    background-image: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.7)),url(./assets/background.jpeg);
    height: 140vh;
    background-repeat: repeat;
    background-size:cover;
    background-position:center;

}

.form-control.is-valid, .was-validated .form-control:valid,
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: none;
}




