.home{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 75%;
    justify-content:space-between;
    gap: 1em;
    padding: 1em 0;
    margin: 1 0;
    height: 88vh;
}

.desc{
    flex: 3 3 8em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: #171717dc;
    color: white;
    height: 20vh;
    padding: 0 1.5em;
    border-radius: 0.5em;
}

.desc p{
    max-width: 40ch;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0;
}

.desc p span{
    font-size: 1.2em;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    text-align: center;

}

.list{
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex: 5 5 16em;
}

.comment{
    display: inline-block;
    color: white;
    margin-bottom: 0;
    background-color: #171717dc;
    padding:0.1em 0.5em;
    font-size: 1.1em;
}

/* .homeMedia{
    border: 1px solid rgb(52, 52, 52);
    padding: 2em;
} */
